<div class="container">
    <div class="row">
        <div class="mt-5">
            <div class="text-md-start">
                <h1 class="fw-bold text-dark">Appointments' list</h1>
                <hr />
            </div>

            <div class="d-grid d-md-flex gap-1 mt-4">
                <a
                [routerLink]="['/appointments/add']"
                    role="button"
                    class="btn btn-dark me-md-1"
                >
                    <i class="bi bi-plus-circle me-2"></i>
                    New Appointment
                </a>
            </div>

            <!-- <div class="row g-2 mt-2" style="cursor: pointer;">
                <div class="col-6 col-lg-1" (click)="getAllAppointments()">
                    <span
                        ngbTooltip="All appointments"
                        placement="bottom"
                        class="badge rounded-pill w-100 p-2 fs-6 fw-semibold"
                        [ngClass]="selectedFilter === 'all' ? 'border bg-secondary text-light' : 'bg-dark border'"
                    >All</span>
                </div>

                <div class="col-6 col-lg-1" (click)="pastFilter()">
                    <span
                        ngbTooltip="Past Appointments"
                        placement="bottom"
                        class="badge rounded-pill w-100 p-2 fs-6 fw-semibold"
                        [ngClass]="selectedFilter === 'past' ? 'border bg-secondary text-light' : 'bg-dark border'"
                    >Past</span>
                </div>
            
                <div class="col-6 col-lg-1" (click)="presentFilter()">
                    <span
                        ngbTooltip="Present Appointments"
                        placement="bottom"
                        class="badge rounded-pill w-100 p-2 fs-6 fw-semibold"
                        [ngClass]="selectedFilter === 'present' ? 'border bg-secondary text-light' : 'bg-dark border'"
                    >Present</span>
                </div>

                <div class="col-6 col-lg-1" (click)="selectedFilter = 'future'">
                    <span
                        ngbTooltip="Future Appointments"
                        placement="bottom"
                        class="badge rounded-pill w-100 p-2 fs-6 fw-semibold"
                        [ngClass]="selectedFilter === 'future' ? 'border bg-secondary text-light' : 'bg-dark border'"
                    >
                        Future                 
                        <i class="bi bi-caret-down-fill" style="font-size: 13px;"></i>
                    </span>
                </div>

                <div *ngIf="selectedFilter === 'future'" >
                    <div class="app-container">
                        <div class="mb-3">
                            <label for="startDate">Start Date:</label>
                            <input
                                type="date"
                                class="form-control w-auto"
                                id="startDate"
                                [(ngModel)]="startDate"
                            />
                        </div>
                        
                        <div class="mb-3">
                            <label for="endDate">End Date:</label>
                            <input
                                type="date"
                                class="form-control w-auto"
                                id="endDate"
                                [(ngModel)]="endDate"
                            />
                        </div>
                        <button class="btn btn-dark w-100" (click)="futureFilter()">Save</button>
                    </div>
                </div>
            </div> -->

            <div class="row mt-3 g-2">
                <div class="col-12 col-lg-4 col-md-6" *ngFor="let appointment of appointments">
                    <app-card-appointments [appointment]="appointment" [isListScreen]="true"></app-card-appointments>
                </div>                
            </div>
        </div>
    </div>
</div>
