<nav class="navbar navbar-expand-lg navbar-dark app-nav">
    <div class="container">
        <a class="navbar-brand fw-semibold me-4 fs-4" routerLink="/">
            <i class="bi bi-journal-bookmark ms-2"></i>
            e-Agenda
        </a>

        <button 
            (click)="isCollapse = !isCollapse"
            class="navbar-toggler" 
            type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngbCollapse]="isCollapse == true">
            <div class="links w-100 text-center" *ngIf="(user$ | async) == true">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                    <li class="nav-item">
                        <a
                            class="nav-link text-truncate"
                            routerLinkActive="fw-semibold text-light"
                            routerLink="/contacts/list"
                        >                        
                        <i class="bi bi-people"></i>                        
                        Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link text-truncate"
                            routerLinkActive="fw-semibold text-light"
                            routerLink="/appointments/list"
                        >                        
                        <i class="bi bi-alarm"></i>                        
                        Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link text-truncate"
                            routerLinkActive="fw-semibold text-light"
                            routerLink="/expenses/list"
                        >
                        <i class="bi bi-bank"></i>                        
                        Expenses</a>
                    </li>
                    <li class="nav-item">
                        <a
                        class="nav-link text-truncate"
                        routerLinkActive="fw-semibold text-light"
                        routerLink="/tasks/list"
                        >
                        <i class="bi bi-check2-square"></i>                        
                        Tasks</a>
                    </li>

                    <ul class="navbar-nav ms-auto fs-5 align-items-center">
                        <!--
                        <li class="nav-item">
                            <button
                                class="nav-link btn text-light"
                                (click)="toggleMode()"
                                [ngbTooltip]="isDarkMode? 'dark' : 'light'"
                                placement="bottom"
                            >
                                <i class="bi" [ngClass]="isDarkMode? 'bi-moon' : 'bi-sun'"></i>
                            </button>
                        </li>
                        --->

                        <li class="nav-item">
                            <button
                                class="nav-link btn text-light"
                                routerLink="/user"
                                ngbTooltip="User Profile"
                                placement="bottom"
                            >
                                <i class="bi bi-person-circle"></i>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button
                                (click)="logOut()"
                                class="nav-link btn text-light"
                                routerLink="/"
                                ngbTooltip="Log out"
                                placement="bottom"
                            >
                                <i class="bi bi-box-arrow-in-right"></i>
                            </button>
                        </li>
                    </ul> 
                </ul>
            </div>
        </div>
    </div>
</nav>

