<section class="mt-5" *ngIf="user$ | async as user">
    <div class="container">
        <div class="card">
            <div class="row align-items-center gy-3 p-5">
                <div class="col-12 col-md-7">
                    <h1 class="card-title fw-semibold">Dashboard</h1>
                
                    <h2 class="fw-semibold fs-4">Hi {{ user.nome }}, welcome to e-Agenda!</h2>

                    <section id="info" class="fs-5">
                        <p class="mt-4">
                            The <span class="fw-semibold">e-Agenda</span> aims
                            to streamline the management of daily routines by offering you 
                            full control of your tasks, contacts, appointments and expenses.
                        </p>
                    </section>
                </div>
            
                <div class="col-12 col-md-5">
                    <img src="/assets/notelist.svg" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

