<section class="mt-5">
    <div class="container">
        <div class="card">
            <div class="row align-items-center gy-3 p-5">
                <div class="col-12 col-md-7">
                    <h1 class="card-title fw-semibold">Dashboard</h1>
                
                    <h2 class="fw-semibold fs-4">Welcome to e-Agenda!</h2>

                    <section id="info" class="fs-5">
                        <p class="mt-4">
                            The <span class="fw-semibold">e-Agenda</span> aims
                            to streamline the management of daily routines by offering you 
                            full control of your tasks, contacts, appointments and expenses.
                        </p>
                        <p class="fw-semibold">How can we assist you today?</p>
                    </section>

                    <section id="buttons" class="d-grid d-md-flex gap-2">
                        <a class="btn btn-secondary" routerLink="/tasks/list">
                            <i class="bi bi-list-check me-2"></i>
                            Tasks
                        </a>
                        <a class="btn btn-secondary" routerLink="/contacts/list">
                            <i class="bi bi-people me-2"></i>
                            Contacts
                        </a>
                        <a class="btn btn-secondary" routerLink="/appointments/list">
                            <i class="bi bi-clock me-2"></i>
                            Appointments
                        </a>
                        <a class="btn btn-secondary" routerLink="/expenses/list">
                            <i class="bi bi-bank me-2"></i>
                            Expenses
                        </a>
                    </section>
                </div>
            
                <div class="col-12 col-md-5">
                    <img src="/assets/dashboard-img.svg" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

